#listdiv > div {
    display: inline-block;
    background: rgb(113, 228, 165);
    height: 20px;
    border: 2px solid rgb(50, 104, 74);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

input[type="button"] {
    background: aquamarine;
    border: navajowhite;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background: rgb(80, 175, 143);
    color: white;
}